{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
    <h1>Publication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ publication.photo }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ publication.description }}</td>
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{{ publication.datecreate ? publication.datecreate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('publication_index') }}">back to list</a>

    <a href="{{ path('publication_edit', {'id': publication.id}) }}">edit</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}
